extends layout

block content

  h1= title

  p Welcome to #{title}

  p
    button(onclick='increment1()') +
    button(onclick='decrement1()') -
    div(id='result1')

  p
    button(onclick='increment2()') +
    button(onclick='decrement2()') -
    div(id='result2')

  p
    button(onclick='increment3()') +
    button(onclick='decrement3()') -
    div(id='result3')