extends layout

block content

  h1= title

  p Welcome to #{title}

  p
    button(onclick='counter1.increment()') +
    button(onclick='counter1.decrement()') -
    div(id='result1')

  p
    button(onclick='counter2.increment()') +
    button(onclick='counter2.decrement()') -
    div(id='result2')

  p
    button(onclick='counter3.increment()') +
    button(onclick='counter3.decrement()') -
    div(id='result3')